<div class="email-footer-container text-muted">
	<!-- email_account_footer -->
	{% if email_account_footer %}
	<div class="email-account-footer">
		{{ email_account_footer }}
	</div>
	{% endif %}

	<!-- company_address -->
	{% if company_address %}
	<div class="company-address">
		{% for line in company_address.splitlines(True) %}
		<div>{{ line }}</div>
		{% endfor %}
	</div>
	{% endif %}

	<!--unsubscribe link here-->

	<div class="email-pixel">
		<!--email open check-->
	</div>

	<!-- default_mail_footer -->
	{% if default_mail_footer %}
	<div class="default-mail-footer" style="color: rgb(141,153,166)!important;">
		Sent via
		<a href="https://finbyz.tech/" target="_blank" style="color: rgb(141,153,166)!important;">
			FinByzERP
		</a>
	</div>
	{% endif %}
	

</div>
