/* -------- version 13 css---------- */
/*---- variable declaration -------- */
[data-theme="light"],[data-theme="dark"]{
	--icon-stroke-navbar : #fff !important;
	--dt-light-yellow: black !important;
}
/* --------end declaration ------ */

/* -------common css---------- */
body{
	font-family: Helvetica Neue,Helvetica,Arial,Open Sans,sans-serif !important;
}
.standard-icon-sidebar-section a:hover{
	text-decoration: none;
}
.d__none{
	display: none ;
}
.navbar-brand{
	padding: 10px 15px;
}
.navbar .navbar-nav{
	margin-right: 15px;
} 
.col.layout-main-section-wrapper{
	width: 95%!important;
	margin-right: auto !important;
	margin-left: auto !important;
	clear: left;
	float: none;
	margin-bottom: 125px;
}
.page-head .page-head-content{
	height: 50px;
}
.dashboard-page .dashboard-view{
	padding-top: 0px;
}
.navbar-expand {
	background-color: #1581E1 ;
	border-color:#1581E1 ; 
	height: 40px ;
}
.main-section .content{
	margin-top: 50px;
}
.main-section #page-query-report{ 
	margin-top: 0px;
}
.frappe-list{
	padding: 0px !important;
}
.page-head{
    position: fixed;
    left: 0;
    right: 0;
    top: 40px;
    margin: auto;
    z-index: 101;
}
 input.input-with-feedback.form-control,
.control-input textarea.input-with-feedback.form-control,
.frappe-control[data-fieldtype=Select] .control-input select,
.frappe-control[data-fieldtype=Select] .control-input select, 
.frappe-control[data-fieldtype=Select].form-group select,
.frappe-control[data-fieldtype=SmallText].form-control,
.form-grid .grid-body .form-control {
	background-color: #fff;
	border: 1px solid rgb(104 113 120 / 25%);
}
.navbar .navbar-nav > li > a,
.grid-heading-row{
	font-weight: 600;
}
 .list-row-head .list-subject,
 .list-row-head .list-row-col span,
 .list-row-head .level-right .list-count span,
 .datatable .dt-header .dt-cell--header .dt-cell__content{
	font-weight: bold !important;
}
.navbar .navbar-nav > li > a{
	color: #ffff;
	font-size: 12px;
}
#navbar-breadcrumbs>li>a:before{
	font-family: FontAwesome;
    font-weight: 400;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-size: 18px;
    transition: .2s;
    position: relative;
    top: 2px;
    content: "\f105";
    margin-right: 10px;
	color: #ffffff;
}
.navbar .navbar-nav .disabled a{
	color: hsl(0, 0%, 99%)!important;
}
#navbar-search{
	height: 30px;
	padding-left: 30px;
}
.page-form .frappe-control [data-fieldtype="Select"]{
	padding: 0px .75rem;
}
.list-row-head .level-left, 
.list-row .level-left{
    min-width: 90%;
	
}
.datatable .dt-scrollable .dt-cell__content{
	font-weight: 450;
}
.desk-icon-sidebar .standard-sidebar-item{
	display: flex;
    align-items: center;
    font-size: var(--text-base);
    padding: 8px 8px;
    margin-bottom: 2px;
    border-radius: var(--border-radius-md);
    overflow: hidden;
    cursor: pointer;
}
.desk-icon-sidebar .standard-sidebar-item.selected,
.desk-icon-sidebar .standard-sidebar-item:hover{
	background-color: var(--sidebar-select-color);
}
.icon-side-section{
	width: 55px;
	margin: 10px 10px 0px 10px;
	height: calc(100vh - var(--navbar-height) - var(--page-head-height) - 5px);
	transition: all 2s linear;
	overflow-y:scroll;
}
.icon-side-section:hover{
	width: auto;
}
.desk-icon-sidebar{
	margin-right: 6px;
}
.hide_icon_bar .icon-side-section{
	display: none;
	
}
.icon-base, .icon-md{
	height: 25px;
	width: 25px;
}

@media (max-width: 992px){
	.icon-side-section{
		display: none !important;
	}
}
.Administration_section {
	border-top:1px solid rgba(0,0,0,.1);
}
.widget-group .grid-col-1{
	grid-template-columns: repeat(auto-fill,minmax(49%,1fr));
}
/*-------- end common theme------------ */

/*---------- light theme----- */
[data-theme="light"] .navbar .navbar-nav > li > a:hover{
	text-decoration: none !important;
}
[data-theme="light"] .list-row-head .list-subject,
[data-theme="light"] .list-row-head .list-row-col span,
[data-theme="light"] .list-row-head .level-right .list-count span,
[data-theme="light"] .datatable .dt-header .dt-cell--header .dt-cell__content,
[data-theme="light"] .grid-heading-row{
	color: #000;
}
[data-theme="light"] .list-row-container:focus{
	background-color: #f2f6fa;
}
/* -----------end light theme---------- */

/*----------- dark theme----------- */
[data-theme="dark"] input.input-with-feedback.form-control,
[data-theme="dark"] .control-input textarea.input-with-feedback.form-control,
[data-theme="dark"] .frappe-control[data-fieldtype=Select] .control-input select,
[data-theme="dark"] .frappe-control[data-fieldtype=Select] .control-input select, 
[data-theme="dark"] .frappe-control[data-fieldtype=Select].form-group select{
	/* background-color: #4f5459!important; */
	background-color: var(--gray-600) !important;
}
/* [data-theme="dark"] #navbar-search */

[data-theme="dark"] .list-row-head .list-subject,
[data-theme="dark"] .list-row-head .list-row-col span,
[data-theme="dark"] .list-row-head .level-right .list-count span,
[data-theme="dark"] .datatable .dt-header .dt-cell--header .dt-cell__content,
[data-theme="dark"] .control-value.like-disabled-input,
[data-theme="dark"] .grid-heading-row,
[data-theme="dark"]  input.input-with-feedback.form-control,
[data-theme="dark"] .control-input textarea.input-with-feedback.form-control{
	color: #fff;
}
[data-theme="dark"] .input-with-feedback::placeholder,
[data-theme="dark"] .text-extra-muted{
	color: rgb(211, 211, 211) !important;
}
[data-theme="dark"] .list-row-container:focus{
	background-color: var(--gray-600) !important;
}
.awesomplete>ul>li{
	overflow: visible !important;
}
.awesomplete>ul>li{
    white-space: normal;
    overflow: visible;

}
/*---------- end dark theme ------------- */

/* [data-theme="light"] .list-row-head:hover:not(.list-row-head),
[data-theme="light"] .list-row:hover:not(.list-row-head){
	transform: scale(1,1.002);
	box-shadow: 3px 3px 6px	#DCDCDC;
	background: #f2f6fa ;
}
[data-theme="light"] .awesomplete>ul>li:hover, 
[data-theme="light"] .awesomplete>ul>li[aria-selected=true]{
	background: #f2f6fa !important;
}
[data-theme="light"] .page-form{
	background: #f2f6fa !important;
}
[data-theme="light"] .list-row-head {
	background: #edf3f8 !important;
} */
/* end */
/*----------- icons -----------  */
.Accounting-sidebar-icon{
	background: url(/assets/finbyzerp/images/accounts.svg);
}
.Buying-sidebar-icon{
	background: url(/assets/finbyzerp/images/buying.svg);
}
.Selling-sidebar-icon{
	background: url(/assets/finbyzerp/images/selling.svg);
}
.Stock-sidebar-icon{
	background: url(/assets/finbyzerp/images/stock.svg);
}
.Assets-sidebar-icon{
	background: url(/assets/finbyzerp/images/assets.svg);
}
.Projects-sidebar-icon{
	background: url(/assets/finbyzerp/images/projects.svg);
}
.CRM-sidebar-icon{
	background: url(/assets/finbyzerp/images/CRM.svg);
}
.Support-sidebar-icon{
	background: url(/assets/finbyzerp/images/support.svg);
}
.HR-sidebar-icon{
	background: url(/assets/finbyzerp/images/human_resource.svg);
}
.Quality-sidebar-icon{
	background: url(/assets/finbyzerp/images/quality.svg);
}
.Tools-sidebar-icon,.Build-sidebar-icon{
	background: url(/assets/finbyzerp/images/tools.svg);
}
.Settings-sidebar-icon{
	background: url(/assets/finbyzerp/images/settings.svg);
}
.Users-sidebar-icon{
	background: url(/assets/finbyzerp/images/user_permission.svg);
}
.Integrations-sidebar-icon{
	background: url(/assets/finbyzerp/images/integration.svg);
}
.Website-sidebar-icon{
	background: url(/assets/finbyzerp/images/website.svg);
}
.Customization-sidebar-icon{
	background: url(/assets/finbyzerp/images/customization.svg);
}
.Home-sidebar-icon{
	background: url(/assets/finbyzerp/images/home.svg);
}
.Management-sidebar-icon,
.Loans-sidebar-icon{
	background: url(/assets/finbyzerp/images/Loan_Management.svg);
}
.Utilities-sidebar-icon{
	background: url(/assets/finbyzerp/images/utilities.svg);	
}
.Payroll-sidebar-icon{
	background: url(/assets/finbyzerp/images/payroll.svg);	
}
.Manufacturing-sidebar-icon{
	background: url(/assets/finbyzerp/images/manufacturing.svg);	
}
/*-------- custom icon ----------*/
.Chemical-sidebar-icon,.Rohandyes-sidebar-icon,.RoopDyes-sidebar-icon,.Evergreen-sidebar-icon{
	background: url(/assets/finbyzerp/images/chemical.svg);
}
.Elkins-sidebar-icon,.Spinning-sidebar-icon{	
	background: url(/assets/finbyzerp/images/yarn.svg);
}
.EIE-sidebar-icon,.Engineering-sidebar-icon{
	background: url(/assets/finbyzerp/images/engineering.svg);
}
.desk-sidebar-item span{
	background-repeat: no-repeat;
}
/*----------- endicons------- */
/*-------- media queries ------- */
@media (max-width: 787px) {
    .layout-side-section {
        display: block !important;
    }

	.layout-main {
		margin-top: 60px !important;
	}
}
/*------- end media queries -------*/