/* -------- version 13 css---------- */
/*---- variable declaration -------- */
[data-theme="light"],[data-theme="dark"]{
	--icon-stroke-navbar : #fff !important;
}
/* --------end declaration ------ */

/* -------common css---------- */
.navbar-brand{
	padding: 10px 15px;
}
.navbar .navbar-nav{
	margin-right: 15px;
} 
.col.layout-main-section-wrapper{
	width: 95%!important;
	margin-right: auto !important;
	margin-left: auto !important;
	clear: left;
	float: none;
	margin-bottom: 125px;
}
.page-head .page-head-content{
	height: 50px;
}
.dashboard-page .dashboard-view{
	padding-top: 0px;
}
.navbar-expand {
	background-color: #1581E1 ;
	border-color:#1581E1 ; 
	height: 40px ;
}
.main-section .content{
	margin-top: 50px;
}
.main-section #page-query-report{ 
	margin-top: 0px;
}
.frappe-list{
	padding: 0px !important;
}
.page-head{
    position: fixed;
    left: 0;
    right: 0;
    top: 40px;
    margin: auto;
    z-index: 101;
}
 input.input-with-feedback.form-control,
.control-input textarea.input-with-feedback.form-control,
.frappe-control[data-fieldtype=Select] .control-input select,
.frappe-control[data-fieldtype=Select] .control-input select, 
.frappe-control[data-fieldtype=Select].form-group select {
	background-color: #fff;
	border: 1px solid rgb(104 113 120 / 25%);
}
.navbar .navbar-nav > li > a,
.grid-heading-row{
	font-weight: 600;
}
 .list-row-head .list-subject,
 .list-row-head .list-row-col span,
 .list-row-head .level-right .list-count span,
 .datatable .dt-header .dt-cell--header .dt-cell__content{
	font-weight: bold !important;
}
.navbar .navbar-nav > li > a{
	color: #ffff;
	font-size: 12px;
}
#navbar-breadcrumbs>li>a:before{
	font-family: FontAwesome;
    font-weight: 400;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-size: 18px;
    transition: .2s;
    position: relative;
    top: 2px;
    content: "\f105";
    margin-right: 10px;
	color: #ffffff;
}
.navbar .navbar-nav .disabled a{
	color: hsl(0, 0%, 99%)!important;
}
#navbar-search{
	height: 30px;
	padding-left: 30px;
}
/*-------- end common theme------------ */

/*---------- light theme----- */
[data-theme="light"] .navbar .navbar-nav > li > a:hover{
	text-decoration: none !important;
}

[data-theme="light"] .list-row-head .list-subject,
[data-theme="light"] .list-row-head .list-row-col span,
[data-theme="light"] .list-row-head .level-right .list-count span,
[data-theme="light"] .datatable .dt-header .dt-cell--header .dt-cell__content,
[data-theme="light"] .grid-heading-row{
	color: #000;
}

/* -----------end light theme---------- */

/*----------- dark theme----------- */
[data-theme="dark"] input.input-with-feedback.form-control,
[data-theme="dark"] .control-input textarea.input-with-feedback.form-control,
[data-theme="dark"] .frappe-control[data-fieldtype=Select] .control-input select,
[data-theme="dark"] .frappe-control[data-fieldtype=Select] .control-input select, 
[data-theme="dark"] .frappe-control[data-fieldtype=Select].form-group select{
	/* background-color: #4f5459!important; */
	background-color: var(--gray-600) !important;
}
/* [data-theme="dark"] #navbar-search */

[data-theme="dark"] .list-row-head .list-subject,
[data-theme="dark"] .list-row-head .list-row-col span,
[data-theme="dark"] .list-row-head .level-right .list-count span,
[data-theme="dark"] .datatable .dt-header .dt-cell--header .dt-cell__content,
[data-theme="dark"] .control-value.like-disabled-input,
[data-theme="dark"] .grid-heading-row,
[data-theme="dark"]  input.input-with-feedback.form-control,
[data-theme="dark"] .control-input textarea.input-with-feedback.form-control{
	color: #fff;
}
[data-theme="dark"] .input-with-feedback::placeholder,
[data-theme="dark"] .text-extra-muted{
	color: rgb(211, 211, 211) !important;
}

/*---------- end dark theme ------------- */
/* hover effect */
/* [data-theme="light"] .list-row-head:hover:not(.list-row-head),
[data-theme="light"] .list-row:hover:not(.list-row-head){
	transform: scale(1,1.002);
	box-shadow: 3px 3px 6px	#DCDCDC;
	background: #f2f6fa ;
}
[data-theme="light"] .awesomplete>ul>li:hover, 
[data-theme="light"] .awesomplete>ul>li[aria-selected=true]{
	background: #f2f6fa !important;
}
[data-theme="light"] .page-form{
	background: #f2f6fa !important;
}
[data-theme="light"] .list-row-head {
	background: #edf3f8 !important;
} */
/* end */

